.tower {
  width: 30%;
  height: 300px;
  background: #00FFCC;
  background: linear-gradient(90deg,rgba(0, 255, 204, 1) 0%, rgba(0, 255, 204, 1) 48%, rgba(255, 255, 255, 1) 48%, rgba(0, 0, 0, 1) 52%, rgba(0, 255, 204, 1) 50%, rgba(0, 255, 204, 1) 100%);
  margin: 10px;
  float: left;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  border: 2px solid #999;
}

.disk {
  height: 30px;
  margin: 4px 0;
  background-color: #3498db;
  text-align: center;
  color: white;
  line-height: 30px;
  font-weight: bold;
  border-radius: 4px;
}

.disk1 { width: 10%; }
.disk2 { width: 20%; }
.disk3 { width: 40%;}
.disk4 { width: 60%;}
.disk5 { width: 80%;}
.disk6 {width: 100%;}