body {
  font-family: Arial, sans-serif;
  background-color: #55cfdf;
  color: #000000;
  margin: 0;
  padding: 0;
}

#game {
  display: grid;
  grid-template-rows: auto 1fr auto auto auto;
  gap: 10px;
  padding: 10px;
  height: 100vh;
}

#mana-bar button {
  margin-left: 20px;
  padding: 5px 10px;
  background-color: #fbff00;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#mana-bar button:hover {
  background-color: #00ff00;
}

#battlefield {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 200px;
}

.tower {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
}

.floor {
  width: 80px;
  height: 30px;
  background-color: #12da8d;
  border: 1px solid #001aff;
  margin-bottom: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
    cursor: pointer;
}

.floor.selected {
  background-color: #cceeff;
}
.unit {
  font-size: 14px;
  position: absolute;
  bottom: 2px;
}

#played-cards {
  min-height: 5px;
  background-color: #444444;
  padding: 5px;
  border-radius: 5px;
}

#hand {
  display: flex;
  gap: 10px;
  min-height: 180px;
  background-color: #0038f0;
  padding: 10px;
  border-radius: 5px;
}

.card {
  background-color: #979904;
  border: 2px solid #ff0000;
  border-radius: 5px;
  padding: 10px;
  width: 100px;
  height: 160px;
  cursor: pointer;
  transition: transform 0.2s;
  position: relative;
}

.card:hover {
  transform: scale(1.05);
  background-color: #68c400;
}

#log {
  background-color: #ffffff;
  height: 100px;
  overflow-y: scroll;
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
}
.swap {
  position: absolute;
  bottom: 0;
  right: 0;  /* lub 'right: 0' albo 'left: 50%; transform: translateX(-50%)' */
}